<h2> <%= @word.word %></span></h2><br>

<form action="/definition/word/<%= @word.id %>" method="post">
  <label for="new_definition">Edit Definition:</label>
  <input id="new_definition" name="new_definition" type="text" class="form-control">
  <br>
  <button type="submit" class="btn" style="background-color:#89CFF0">Update Definition</button>
</form>


<% if @definitions.any? %>
<form action="/words/<%=  @word.id %>/definitions/<%= @definitions.id %>" method="post">
  <input word="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete Definition</button>
</form>
<% else %>
  <p>There are currently no definitions to display.</p>
<% end %>
